<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CarouselDao">
    <insert id="insert">
        insert into c_carousel values (#{id},#{title},#{imgPath},#{status},#{date})
    </insert>
    <delete id="delete">
        delete from c_carousel where carousel_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <!--修改图片信息-->
    <update id="update" parameterType="carousel">
        update c_carousel set status =#{status} where carousel_id = #{id}
    </update>
    <!--修改图片路径-->
    <update id="updateImgPath" parameterType="carousel">
        update c_carousel set imgPath =#{imgPath} where carousel_id = #{id}
    </update>
    <select id="selectOne" resultType="Carousel">
        select carousel_id id,title,imgPath,status,create_time date from c_carousel where carousel_id = #{id}
    </select>
    <select id="selectAll" resultType="Carousel">
        select carousel_id id,title,imgPath,status,create_time date from c_carousel
        limit #{begin},#{rows}
    </select>
    <select id="selectRecords" resultType="Integer">
        select count(*) from c_carousel
    </select>
</mapper>